.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   background-color: #E5E5E5;
    
 }
 
.navbar{
    display: grid;
    grid-template-columns: 8fr 0.5fr 1fr;
    grid-gap: 20px;
    padding-right:10px ;
    /* background-color: #FFFFFF; */
    border-bottom:1PX solid #E5E5E5;
}

.nav-font{
    color: #9CA4B6;
    font-size: small;
    font-weight: 400;

}
.nav-font-learning{
    color: #9CA4B6;
    font-size: small;
    font-weight: 700;

}

.section-part{
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.section-part-nav{
    color: #868686;
    font-size: small;
    font-weight: 400;
}
.section-part-nav-learning{
    font-size: small;
    color: #303030;
    font-weight: 500;
    text-decoration: none;

}
.left-part{
    padding: 6px;
}
.ratings-nav{
    padding: 15px;
}
.ratings-title{
    padding: 15px;

}

.title-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color:#9CA4B6;

}

.left-upper-part{
    display: flex;
}
.five{
    color: #666666;
    font-weight: 700;
    
}
.star{
     margin-left: 10px;
    
}
.star-icon{
    color: #9CA4B6;
    padding-top: 10px;

}
.based-on{
    color:#666666;
    /* border-bottom: 1px solid #666666; */
}

.star-of-star{
    border-top: 1px solid #666666;
}

.five-star{
    color: #9CA4B6;
}
.four-star{
    color: #9CA4B6;
    padding-left: 28px;
}
.three-star{
    color: #9CA4B6;
    padding-left: 56px;
}
.two-star{
    color: #9CA4B6;
    padding-left: 84px;
}
.one-star{
    color: #9CA4B6;
    padding-left: 112px;
}
.middle-part{
    padding:15px;
    margin-left: 3px;
    /* margin-top: 2px; */
    border-left: 1px solid #666666;
}
.feedback{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color:#9CA4B6;

}
.experience-section{
    padding-top: 5px;
}
.experience{
    color:#666666;

}
.star-icon-rate{
    color: #9CA4B6;
}
/* .review-section{
    display: flex;
    flex-direction: column;
} */


.review-side-review{
    border-bottom:1px solid #868686 ;


}

.rate {
    float: left;
    display: block;
    /* height: 46px; */
    /* padding: 0 10px; */
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.review{
    font-weight: 400;
    /* font-size: small; */
    color: #666666;
    padding-left: 2px;
    padding-bottom: 2px;
}
.checked:hover {
    color: purple;
  }



.comment-section{
    /* width: 516px;
    height: 145px; */
    border: 1px solid #868686;
    border-radius: 15px;
    /* margin-top: 3px;
    font-size: small; */
    color: #666666;
    font-weight: 400;
    /* text-align: left; */

}


/* .comment{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 400;
    font-size: small;
    color: #666666;

} */
.send{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border:1px solid #868686 ;
    
    text-align: center;
    align-content: center;
    padding-bottom: 7px;
    margin-top: 10px;
    margin-left: 434px;
    margin-bottom: 15px;
    
}
.send-rate{
    font-size: small;
    margin-bottom: 3px;
    font-weight: 500;
    font-style: normal;
    
   
   

}
.middle-last-part{
   
    justify-content: center;
}

.pre-rate{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color:#9CA4B6;
    margin-top: 20px;

}
.person-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.person-name{
    margin-right: 8px;
    margin-left: 3px;
    margin-top: 16px;

    color: #666666;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    
}
.date{
    color:#B4BBC6;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.comment-of-person{
    color:  #666666;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.last-part{
    margin: 4px;
    
}

.right-part{
    width: 285px;
    height: 368px;
    
    border: 1px solid #868686;
    border-radius: 15px;
    /* margin:6px; */
}
/* .right-part-section{
    padding: 5px;
} */

.last-image{
    width: 100%;
    height: 160px;
    padding: 0px;
    margin-bottom: 2px;
    

}
.eye{
    color:  #9CA4B6;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 7px;
}
.suffer{
    color: #B5BBC8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
   
    
}
.suffer-from{
    margin-bottom: 10px;
    padding: 7px;

}
.progress-section{
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
}
.progress{
    width: 170px;
}

.progress-bar{
    background-color: #666666;
    
}

.concluded{
    font-size:12px;
    font-weight: 400;
    color:#B5BBC8;
    font-style: normal;
    margin-left: 4px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    

    
}
.icon-last{
    justify-content: right;
    text-align: right;
    padding: 3px;
    margin: 5px;
    padding-top: 7px;
    padding-bottom: 2px;
}
.icon{
    color: #9CA4B6;
    width: 20px;
    height: 20px;
    justify-content: space-between;
}


/*.................. media query ...................*/
@media only screen and (max-width: 480px) {
    .middle-part {
      border-left: none;
    }
    .send{
        margin-left: 200px;
    }
  }
